streamlit == 0.82.0
yfinance == 0.1.63 
plotly == 4.14.3
ta == 0.7.0
pandas == 1.2.1
numpy == 1.19.5
mpmath == 1.1.0
python-dateutil == 2.8.1
Pillow == 8.0.1
google-cloud-firestore == 2.1.1
json5 == 0.9.5
google-auth == 1.30.0
passlib == 1.7.4
matplotlib == 3.4.2
prophet
numpy==1.23.1
pandas==1.4.3
pip==22.1.2
plotly==5.9.0
pystan==2.19.1.1
python==3.8.13
snappy==1.1.9
soupsieve==2.3.1
sqlite==3.39.2
stack_data==0.2.0
streamlit==1.11.0
